@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Poppins:wght@200;300;400;600;700&display=swap");

@import "tailwindcss";

.poppins-font {
  font-family: "Poppins", sans-serif;
}
.poppins-font-bold {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.bona-nova-sc-regular {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
}

.bona-nova-sc-bold {
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
  font-style: normal;
}
